.input {
  width: 20rem;
  height: 5rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 3px;
  color: $color-gray;
  border-radius: 5px;
  padding: 0 1rem;
  position: relative;
  left: 50%;
  transform: translate(-50%);

  &__left {
    transform: translate(-250px);
    transition: .2s all;
  }
}