.btn {
  padding: 1.25rem;
  border-radius: 6px;
  outline: gray;
  background: linear-gradient($color-aero,$color-dark-red);
  color: white;
  box-shadow: 0 5px 10px rgba(black, .2);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  transition: all .2s;

  &:hover {
    transform: translate(-50%) scaleX(1.1);
    cursor: pointer;
    color: $color-aqua;
    box-shadow: 0 10px 15px rgba(black, .4);
  }
}